<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
            <span>
                <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                <label for="@column.Key">@column.Value</label>
            </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    @if (ViewBag.jobs != null)
    {
    @foreach (var action in ViewBag.jobs)
    {
    <table class="job-listing">
        <tr>
            <th scope="row">ID</th>
            <td>@action.Id</td>
        </tr>

        <tr>
            <th scope="row">Name</th>
            <td>@action.Name</td>
        </tr>

        <tr>
            <th scope="row">Employer</th>
            <td>@action.Employer</td>
        </tr>

        <tr>
            <th scope="row">Location</th>
            <td>@action.Location</td>
        </tr>

        <tr>
            <th scope="row">Position Type</th>
            <td>@action.PositionType</td>
        </tr>

        <tr>
            <th scope="row">Skill</th>
            <td>@action.CoreCompetency</td>
        </tr>

    </table>
    }

    }

</div>